body{
    font-family: 'Lato', sans-serif;
    color: black;
    background: white;
    text-align: center;
}

form{
    background: ghostwhite;
    width: 60%;
    border-radius: 10px;
    min-width: 10%;
    
}

input {
   width: 40%;
   
}

label{
    display: block;
    
}

#submit{
    width: 100%;
    height: 30px;
    background: #B6B6B6;
    border-radius: 0px 0px 10px 10px;
}

.box{
    height: 30px;
    font-size: 14px;
}

textarea{
    width: 40%;
}

@media screen and (max-width: 600px){
    form {
        width: 100%;
    }
    
    input{
       width: 90% 
    }
    
    textarea{
    width: 90%;
    }
   
    
}